# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Scripts/Controller/GameController.cs
*.suo
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/expandedItems
Library/metadata/ac/ac5d21b0745893f42b2ee49608bd068d
Library/metadata/ca/ca7f1f1195e2cce44a423a6ae2c9c204
Library/metadata/d4/d4bd7f725d392aa4694185e021ff1e5d
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Library/assetDatabase3
IcyTowerClone.sln
IcyTowerClone-csharp.sln
Library/metadata/ca/ca7f1f1195e2cce44a423a6ae2c9c204
Library/metadata/d4/d4bd7f725d392aa4694185e021ff1e5d
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.sln
*.suo
*.csproj